.aside {
    background-color: $black;
    margin: 95px 0 0 0;

    .aside__list {
        display: flex;
        justify-content: space-between; 
        text-align: center;
    }
    
    .aside__item {
        padding: 103px 0;
        list-style-type: none;
    }
    
    .aside__item-title {
        @include font(20px,24px,400);
        color: $text-color;
        margin: 25px 0 16px 0;
    }
    
    .aside__item-text {
        @include font(14px, 17px, 300);
        color: $card-bkg;
    }
}

