.nav-sub-item {
    @include font (14px, 17px, 400);
    text-transform: uppercase;
    color: $dark-pink;
    padding: 20px 0 50px 33px;
    text-align: left;
}

.nav-sub-item__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    padding: 11px 0 0 55px;
}
